<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiqi.lirbarysystem.mapper.JieshuMapper">
    <!--添加借书记录-->
    <insert id="insertjieshu" parameterType="com.shiqi.lirbarysystem.entity.Jilu">
        insert into jilu(jlbname,jlsname,jlid,time,status) value (#{jlbname},#{jlsname},#{jlid},#{time},#{status})
    </insert>
   <!--添加还书记录-->
    <insert id="inserthuanshu" parameterType="com.shiqi.lirbarysystem.entity.Jilu">
        insert into jilu(jlbname,jlsname,jlid,time,status) value (#{jlbname},#{jlsname},#{jlid},#{time},#{status})
    </insert>
    <!--查询借阅记录-->
    <select id="selectjilu" resultMap="jiluMap">
        select * from jilu
    </select>
    <resultMap id="jiluMap" type="com.shiqi.lirbarysystem.entity.Jilu">
        <id property="id" column="id"></id>
        <result property="jlbname" column="jlbname"></result>
        <result property="jlsname" column="jlsname"></result>
        <result property="jlid" column="jlid"></result>
        <result property="time" column="time"></result>
        <result property="status" column="status"></result>
    </resultMap>
<!--  按学号查询借阅记录  -->
    <select id="selectjilubysid" resultMap="jiluMap">
        select  * from jilu where jlid=#{jlid}
    </select>

    <!--学生信息查询-->
    <select id="selectxinxi" resultMap="xinxiMap">
        select * from student;
    </select>
    <resultMap id="xinxiMap" type="com.shiqi.lirbarysystem.entity.Student">
        <id property="id" column="id"></id>
        <result property="studentname" column="studentname"></result>
        <result property="studentclass" column="studentclass"></result>
        <result property="phone" column="phone"></result>
        <result property="demitory" column="phone"></result>
        <result property="tname" column="tname"></result>
    </resultMap>
</mapper>